<div id="center">
    <form [formGroup]="resetPwdForm" (ngSubmit)="onSubmit()">
        <div class="box">
            <h1>Reset Password</h1>
            <input type="password" class="username" formControlName="password" placeholder="Password">
            <small class="error" *ngIf="password.touched && password.invalid">
              Password is required.
            </small>
            <input type="password" class="username" formControlName="cpassword" placeholder="Confirm Password">
            <small class="error" *ngIf="cpassword.touched && cpassword.invalid">
                Confirm Password is required.
            </small>
            <small class="error" *ngIf="resetPwdForm.errors">
                Confirm Password does not match.
            </small>

            <button class="button" [disabled]="!resetPwdForm.valid">Submit</button>
        </div>
    </form>
    <p>Already password reset? <a routerLink="" class="fpwd">Click Here</a></p>
</div>