<div id="center">
    <form [formGroup]="resetPwdForm" (ngSubmit)="onSubmit()">
        <div class="box">
            <h1>Reset Password</h1>
            <input type="password" class="username" formControlName="password" placeholder="Password">
            <input type="password" class="username" formControlName="cpassword" placeholder="Confirm Password">

            <button class="button" [disabled]="!resetPwdForm.valid">Submit</button>
        </div>
    </form>
    <p>Already password reset? <a routerLink="" class="fpwd">Click Here</a></p>
</div>