<div id="center">
    <form [formGroup]="forgotPwdForm" (ngSubmit)="onSubmit()">
        <div class="box">
            <h1>Password Reset</h1>
            <input type="email" class="username" placeholder="Email" formControlName="email">
            <div class="error" *ngIf="email.touched && email.invalid">
                <small *ngIf="email.errors.required">Email is required</small>
                <small *ngIf="email.errors.email">Email is invalid</small>
            </div>

            <button class="button" [disabled]="!forgotPwdForm.valid">Submit</button>
        </div>
    </form>
    <p>Already password reset? <a routerLink="" class="fpwd">Click Here</a></p>
</div>